  .variant-btn-selected{
    border-radius: 10px;
    background: $info-900;
    text-align: center;
    width: 120px;
    height: 100px;
  }

  .variant-btn{
    border-radius: 10px;
    background: $info-600;
    text-align: center;
    width: 120px;
    height: 100px;
  }

  .fslogo {
    max-width: 3rem;
  }