  .variant-btn-selected{
    border-radius: 5px;
    background: $black-400;
    margin: 7px;
    text-align: center;
    width: 75px;
    height: 60px;
  }

  .variant-btn{
    border-radius: 5px;
    background: $black-100;
    margin: 7px;
    text-align: center;
    width: 75px;
    height: 60px;
  }