  .variant-btn-selected{
    border-radius: 5px;
    background: $info-900;
    margin: 5px;
    text-align: center;
    width: 75px;
    height: 60px;
  }

  .variant-btn{
    border-radius: 5px;
    background: $info-600;
    margin: 5px;
    text-align: center;
    width: 75px;
    height: 60px;
  }